/* vars */
/* app css stylesheet */
body {
  margin: 0;
  padding: 0;
}
li {
  cursor: pointer;
}
li a {
  text-decoration: none;
}
.container {
  width: 960px;
  margin: 0 auto;
}
.main {
  clear: both;
}
.border {
  border: 1px solid #ff0066;
}
