.nav:after {
  clear: both;
}
.nav .nav-list {
  list-style-type: none;
  padding: 0;
  font-size: 2.5em;
  color: #222;
}
.nav .item {
  display: inline-block;
  margin-right: 40px;
}
.nav .item .link {
  color: #ff5500;
}
