.nav {
    @linkBase: #ff5500;

    &:after {
        clear: both;
    }

    .nav-list {
        list-style-type: none;
        padding: 0;
        font-size: 2.5em;
        color: #222;
    }

    .item {
        display: inline-block;
        margin-right: 40px;

        .link {
            color: @linkBase;
        }
    }
}