<div class="nav container">
    <div class="row">
        <ul class="nav-list">
            <li ng-repeat="item in items" class="item" ui-sref-active="navbar-active">
                <a class="link" ui-sref="{{ item.state }}">{{ item.name }}</a>
            </li>
        </ul>
    </div>
</div>
