.beer-list {
    ul {
        padding: 0;
    }

    .list-container {
        margin-bottom: 60px;
    }

    .item {
        display: inline-block;
        padding-right: 20px;

        .name {
            font-size: 1.3em;
        }
    }
}

.beer-item {
    .description {
        color: #666;
    }
}