.beer-list ul {
  padding: 0;
}
.beer-list .list-container {
  margin-bottom: 60px;
}
.beer-list .item {
  display: inline-block;
  padding-right: 20px;
}
.beer-list .item .name {
  font-size: 1.3em;
}
.beer-item .description {
  color: #666;
}
