<div class="beer-list page">
    <h3>Beer List</h3>

    <div class="list-container">
        <ul>
            <li class="item"
                ui-sref="app.beer.list.item({id: ($index + 1)})"
                ng-repeat="item in vm.beerList">
                <div class="name" title="({{$index + 1}})">{{item.nameDisplay}}</div>
            </li>
        </ul>
    </div>

    <!-- beer -->
    <ui-view></ui-view>
</div>

